* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400&display=swap');

:root {
    --gradient-1: linear-gradient(#FFB300, #FFB300);

    --gradient-2: linear-gradient(#0d0d0d, #0d0d0d);

    --gradient-3: linear-gradient(#14213D, #14213D);
}

html {
    background-color: #444444;
    font-family: 'Roboto', sans-serif;
}


/* === COMPONENTS === BUTTONS === */

.buttons {
    display: flex;
} /*Horizontal buttons container*/

.btn {

    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;

    transition: background-size 500ms;
}

.btn:hover {
    background-size: 100% 100%;
    background-position-x: left;
    transition-delay: 200ms;
}

.btn-primary {
    width: 80px;
    background-image: var(--gradient-1);
    padding: 15px 40px;
    color: whitesmoke;
}

.btn-secondary {
    background-image: var(--gradient-2);
    padding: 15px 40px;
    color: whitesmoke;
}

.btn-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    width: 120px;
    padding: 15px 40px;
    color: whitesmoke;
    margin-right: 30px;
}

.btn-hero-1 {
    background-color: #ffb300;
    border: 1px solid #FFB300;
    background-image: var(--gradient-2);
}

.btn-hero-2 {
    background-color: #fffad92f;
    background-image: var(--gradient-2);
}

a {
    text-decoration: none;
}


/* HEADER */

/* NAVIGATION MENU STARTS HERE */

nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0d0d0da4;
    padding: 0px;
    z-index: 20;
}

.navbar a {
    width: 60px;
}


.logo {
    width: 150px;
    display: flex;
    align-items: center;
}

label img {
    width: 15px;
    filter: invert(100%);
}

.search-bar {
    align-items: end;
    display: flex;
    gap: 20px;
}

#site-search {
    color: white;
    padding: 5px 30px 5px 0px;
    border: 0px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid white;
    border-radius: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(137, 43, 226, 0);
}


/* NAVIGATION SCREENS HERE */

/* iPad & Tablets BreakPoint */

@media only screen and (max-width: 900px) {

}

/* Phone Screens BreakPoint */

@media only screen and (max-width: 600px) {
    .navbar a {
        width: 20px;
    }

    nav {
        padding-bottom: 40px;
    }
}

/* NAVIGATION MENU ENDS HERE */

/* HERO STARTS HERE */

.hero-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url('./images/drone-hor-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    padding: 0px 0px 150px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
    min-height: 700px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    color: whitesmoke;
}

.hero p {
    font-size: 25px;
    color: #FFFAD9;
    font-family: 'Lora', serif;
    font-style: italic;
    margin-bottom: 20px;
}

.social {
    margin: 10px;
    width: 30px;
    transition: filter 300ms;
}

.social:hover {
    cursor: pointer;
    filter: invert();
}

/* HERO SCREENS HERE */

/* iPad & Tablets BreakPoint */

@media only screen and (max-width: 900px) {
    .hero {
        padding: 0px 50px 150px 100px;
    }
}

/* Phone Screens BreakPoint */

@media only screen and (max-width: 600px) {
    .hero {
        padding: 150px 50px 50px 50px;
        justify-content: center;
    }

    h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 18px;
    }
}




/* HERO ENDS HERE */





/* ==================================
   FEATURED PHOTOS OF THE WEEK STARTS HERE 
======================================== */


  .container-2 {
    padding: 100px 0px 150px 50px;
    background-color: #FFFAD9;
    display: grid;
    grid-template-columns: 40% 1fr;
}

.side-b > .item {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    min-width: 60%;
    scroll-snap-align: center;
    padding-bottom: 100px;
    padding-left: 80px;
    gap: 2px;
    transition: filter 300ms;
}

.side-b > .item:hover {
    cursor: pointer;
    filter: contrast(80%);
}

.item {
    margin: 0px 20px;
    display: flex;
    align-items: center;
    min-height: 600px;
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
}

/* Photo description */
.description {
    color: #FFB300;
}

.place {
    color: #FFFAD9;
    font-size: 14px;
    font-style: italic;
    font-family: 'Lora', serif;
}

.profile {
    border: 2px solid #FFB300;
    border-radius: 50px;
    width: 80px;
    margin-bottom: 10px;
}

.side-a {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


.side-a h2, p, a {
    width: 100%;
    text-align: left;
    color: #0d0d0d;
}

.gral-cta {
    align-self: flex-start;
    width: 150px;
    font-size: 18px;
}

.subtitle {
    font-family: 'Lora', serif;
    font-style: italic;
    margin-bottom: 50px;
}

.news {
    font-size: 14px;
    color: #FFB300;
    font-weight: 700;
    text-transform: uppercase;
}

.side-b {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.s-item-1 {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url('./images/featured-photo-5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.s-item-2 {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url('./images/Featured-photo-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.s-item-3 {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url('./images/drone-hero-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;    /* background-color: orange; */
}

.s-item-4 {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url('./images/featured-photo-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    display: none;
    /* width: 10px; */
  }



/* FEATURED PHOTOS SCREENS HERE */

/* iPad & Tablets BreakPoint */

@media only screen and (max-width: 900px) {
    .container-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 5% 1fr;
        padding: 60px 40px;
    }

    .side-a {
        justify-content: start;
        padding: 10px 20px;
    }

    .side-b > .item {
        min-width: 70%;
        padding-left: 50px;
        min-height: 500px;
    }

}

/* Phone Screens BreakPoint */

@media only screen and (max-width: 600px) {

    .container-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 5% 1fr;
        padding: 60px 0px 0px 0px;
        margin-bottom: 0px;
    }

    .side-a {
        justify-content: start;
        padding: 10px 20px 80px 20px;
    }

    .side-b > .item {
        min-width: 80%;
        padding-left: 30px;
        margin: 0px 5px;
        min-height: 400px;
    }

    .side-b {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

}



/* ==================================
 FEATURED PHOTOS OF THE WEEK ENDS HERE 
==================================== */


/* =================================
 BLOG POSTS STARTS HERE 
==================================== */

.blog-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 150px 50px;
}

.blog-post {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.blog-post img {
    height: 300px;
    flex-shrink: 5;
    transition: filter 300ms;
}

.blog-post img:hover {
    filter: opacity(80%);
}

.post-info {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.post-title {
    font-size: 30px;
    color: #FFB300;
}

.post-content {
    font-size: 16px;
    font-family: 'Lora', serif;
    color: #FFFAD9;
}

.post-meta {
    font-size: 12px;
    font-style: italic;
    color: #FFFAD9;
}

.post-1 {

}

.post-2 {
    flex-direction: row-reverse;
}

/* BLOG SCREENS HERE */

/* iPad & Tablets BreakPoint */

@media only screen and (max-width: 1200px) {
    .post-info {
        width: 80%;
    }

    .blog-post img {
        height: 100%;
        max-width: 100%;
    }

    .blog-post {
    }
}

/* Phone Screens BreakPoint */

@media only screen and (max-width: 600px) {

    .post-info {
        width: 100%;
    }

    .blog-container {
        margin-top: 0px;
        padding-top: 50px;
    }

    .blog-post img {
        height: 100%;
        max-width: 100%;
    }

}


/* ====================================
    BLOG POSTS ENDS HERE
======================================= */


/* ======================================
   JOIN US BREAK STARTS HERE 
===================================== */


.join-our-community {
    padding: 100px 0px;
    display: grid;
    justify-items: center;
    grid-template-columns: 20% 1fr 1fr 20%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url('./images/drone-hor-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: border ease-in-out 500ms;
    border: 0px solid black;
}

.join-our-community:hover {
    border: 20px solid black;
}

.join-title {
    color: #FFFAD9;
    font-size: 40px;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    /* grid-area: joinus; */
}

.subtitle-2 {
    color: #FFB300;
    text-align: center;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}

.join-label {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
}

input[type="text"] {
    padding-left: 10px;
    color: #0d0d0d;
    height: 40px;
    width: 500px;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-top: 50px;
}

input[type="text"]:focus {
    background-color: rgba(245, 245, 245, 0.267);
    border: 1px solid rgba(255, 255, 255, 0);
}

::placeholder {
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    color: #ffb30080;
}


/* JOIN US BREAK SCREENS HERE */

/* iPad & Tablets BreakPoint */

@media only screen and (max-width: 1200px) {
    .join-label {
        text-align: center;
        padding: 0px 50px;
    }

    .join-title {
        text-align: center;
    }
}

/* Phone Screens BreakPoint */

@media only screen and (max-width: 600px) {
    .join-label {
        text-align: center;
    }

    input[type="text"] {
        width: 300px;
    }

}



/* =====================================
   JOIN US BREAK ENDS HERE 
====================================== */







/* ================================
===================================
         FOOTER STARTS HERE
===================================
=================================== */


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1B2839;
    padding: 50px 0px 50px 50px;
}

.footer-brand {
    align-self: flex-start;
    padding: 0px 100px;
}

.footer-info {
    width: 90%;
    margin-top: 50px;
    padding: 50px 0px;
    border-top: 1px solid whitesmoke;
}

.logo-f {
    max-height: 100px;
}

.copyrights {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    color: #4C5363;
}

.brand-info {
    line-height: 30px;
    font-size: 14px;
    color: #4C5363;
}


/* ================================
===================================
         FOOTER ENDS HERE
===================================
=================================== */


